<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydzbinfo.emis.common.bill.typeconfig.dao.TemplateAttributeModeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ${tableAlias}S_ATTRIBUTEMODECODE as "${columnPrefix}attributeModeCode",
        ${tableAlias}S_ATTRIBUTEMODENAME as "${columnPrefix}attributeModeName",
        ${tableAlias}D_CREATETIME as "${columnPrefix}createTime",
        ${tableAlias}S_NOTE as "${columnPrefix}note"
    </sql>

</mapper>
