<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydzbinfo.emis.common.bill.basetemplate.dao.BaseTemplateLinkContentMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ${tableAlias}S_ID as "${columnPrefix}id",
        ${tableAlias}S_CONTENTID as "${columnPrefix}contentId",
        ${tableAlias}S_LINKCONTENTID as "${columnPrefix}linkContentId"
    </sql>

</mapper>
