<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydzbinfo.emis.common.taskAllot.dao.ZyMReviewtaskpersonMapper">

    <!--通用查询映射结果-->
    <resultMap id="BaseResultMap" type="com.ydzbinfo.emis.trainRepair.taskAllot.querymodel.ZyMReviewtaskperson">
        <result column="S_REVIEWTASKPERSONID" property="reviewtaskpersonid"/>
        <result column="S_REVIEWTASKSUMMARYID" property="reviewtasksummaryid"/>
        <result column="S_REVIEWTASKITEMID" property="reviewtaskitemid"/>
        <result column="S_DAYPLANID" property="dayplanid"/>
        <result column="S_WORKERSTAFFCODE" property="workerstaffcode"/>
        <result column="S_WORKERSTAFFNAME" property="workerstaffname"/>
        <result column="S_PERSONCODE" property="personcode"/>
        <result column="S_PERSONNAME" property="personname"/>
        <result column="D_CREATETIME" property="createtime"/>
        <result column="S_PUBLISHCODE" property="publishcode"/>
        <result column="S_REMARKS" property="remarks"/>
    </resultMap>

</mapper>