<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydzbinfo.emis.trainRepair.trainMonitor.dao.MonitorPacketMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydzbinfo.emis.trainRepair.trainMonitor.querymodel.MonitorPacket">
        <id column="S_ID" property="id"/>
        <result column="S_TRAINTYPE" property="trainType"/>
        <result column="S_BATCHCODE" property="batchCode"/>
        <result column="S_PACKETNAME" property="packetName"/>
        <result column="S_PACKETCODE" property="packetCode"/>
        <result column="D_CREATETIME" property="createTime"/>
        <result column="S_CREATEUSERCODE" property="createUserCode"/>
        <result column="S_CREATEUSERNAME" property="createUserName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        S_ID, S_TRAINTYPE, S_BATCHCODE, S_PACKETNAME, S_PACKETCODE, D_CREATETIME, S_CREATEUSERCODE, S_CREATEUSERNAME
    </sql>
    <select id="getMonitorPackets" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from XZY_C_MONITORPACKET
        where 1=1
    </select>
    <select id="getMonitorPacket" resultMap="BaseResultMap"
            parameterType="com.ydzbinfo.emis.trainRepair.trainMonitor.querymodel.MonitorPacket">
        select
        <include refid="Base_Column_List">
        </include>
        from XZY_C_MONITORPACKET
        where 1=1
        <if test="id !=null and id!=''">
            and S_ID=#{id}
        </if>
        <if test="trainType !=null and trainType!=''">
            and S_TRAINTYPE=#{trainType}
        </if>
    </select>

    <insert id="addMonitorPacket" parameterType="com.ydzbinfo.emis.trainRepair.trainMonitor.querymodel.MonitorPacket">
        insert into XZY_C_MONITORPACKET
        <trim prefix="(" suffix=")" suffixOverrides=",">
            S_ID,
            <if test="trainType !=null and trainType !=''">
                S_TRAINTYPE,
            </if>
            <if test="batchCode !=null and batchCode !=''">
                S_BATCHCODE,
            </if>
            <if test="packetName !=null and packetName !=''">
                S_PACKETNAME,
            </if>
            <if test="packetCode !=null and packetCode !=''">
                S_PACKETCODE,
            </if>
            <if test="createUserCode !=null and createUserCode !=''">
                S_CREATEUSERCODE,
            </if>
            <if test="createUserName !=null and createUserName !=''">
                S_CREATEUSERNAME,
            </if>
            D_CREATETIME
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="trainType !=null and trainType !=''">
                #{trainType},
            </if>
            <if test="batchCode !=null and batchCode !=''">
                #{batchCode},
            </if>
            <if test="packetName !=null and packetName !=''">
                #{packetName},
            </if>
            <if test="packetCode !=null and packetCode !=''">
                #{packetCode},
            </if>
            <if test="createUserCode !=null and createUserCode !=''">
                #{createUserCode},
            </if>
            <if test="createUserName !=null and createUserName !=''">
                #{createUserName},
            </if>
            #{createTime}
        </trim>
    </insert>
    <update id="updMonitorPacket" parameterType="com.ydzbinfo.emis.trainRepair.trainMonitor.querymodel.MonitorPacket">
        update XZY_C_MONITORPACKET
        <set>
            <if test="trainType !=null and trainType !=''">
                S_TRAINTYPE=#{trainType},
            </if>
            <if test="batchCode !=null and batchCode !=''">
                S_BATCHCODE=#{batchCode},
            </if>
            S_PACKETNAME=#{packetName},
            S_PACKETCODE=#{packetCode},
            <if test="createUserCode !=null and createUserCode !=''">
                S_CREATEUSERCODE=#{createUserCode},
            </if>
            <if test="createUserName !=null and createUserName !=''">
                S_CREATEUSERNAME=#{createUserName},
            </if>
        </set>
        where S_ID=#{id}
    </update>
    <delete id="delMonitorPacket" parameterType="com.ydzbinfo.emis.trainRepair.trainMonitor.querymodel.MonitorPacket">
        delete
        from XZY_C_MONITORPACKET
        where 1=1
        <if test="id!=null and id!=''">
            and S_ID = #{id}
        </if>
        <if test="batchCode!=null and id!=''">
            and S_BATCHCODE = #{batchCode}
        </if>
        <if test="trainType!=null and id!=''">
            and S_TRAINTYPE = #{trainType}
        </if>
    </delete>
</mapper>
