<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydzbinfo.emis.trainRepair.bill.fillback.dao.ChecklistSummaryOldMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ${tableAlias}S_CHECKLISTSUMMARYID as "${columnPrefix}checklistSummaryId",
        ${tableAlias}S_DAYPLANID as "${columnPrefix}dayPlanId",
        ${tableAlias}S_TRAINSETID as "${columnPrefix}trainsetId",
        ${tableAlias}S_SPREPAIRITEMCODE as "${columnPrefix}sprepairitemcode",
        ${tableAlias}S_SPREPAIRITEMNAME as "${columnPrefix}sprepairitemname",
        ${tableAlias}S_SPPACKETCODE as "${columnPrefix}sppacketcode",
        ${tableAlias}S_SPPACKETNAME as "${columnPrefix}sppacketname",
        ${tableAlias}C_CHECKLISTTYPE as "${columnPrefix}checklistType",
        ${tableAlias}S_REPAIRCYCLE as "${columnPrefix}repaircycle",
        ${tableAlias}S_MAINTCYCCODE as "${columnPrefix}mainCycCode",
        ${tableAlias}S_MAINTCYCDISPLAY as "${columnPrefix}maintcycdisplay",
        ${tableAlias}I_REPAIRACCUMILE as "${columnPrefix}repairaccumile",
        ${tableAlias}S_CHECKLISTID as "${columnPrefix}checklistId",
        ${tableAlias}I_CARNOFLAG as "${columnPrefix}carnoflag",
        ${tableAlias}S_CHECKLISTNO as "${columnPrefix}checklistno",
        ${tableAlias}S_REPAIRDEPTNAMES as "${columnPrefix}repairdeptnames",
        ${tableAlias}S_REPAIRSTAFFNAMES as "${columnPrefix}repairstaffnames",
        ${tableAlias}C_PRINTSTATE as "${columnPrefix}printstate",
        ${tableAlias}D_REPAIRTIME as "${columnPrefix}repairtime",
        ${tableAlias}C_BACKFILLSTATE as "${columnPrefix}backfillstate",
        ${tableAlias}S_INSPECTORSIGNCODES as "${columnPrefix}inspectorsigncodes",
        ${tableAlias}S_INSPECTORSIGNNAMES as "${columnPrefix}inspectorsignnames",
        ${tableAlias}S_FOREMANSIGNCODES as "${columnPrefix}foremansigncodes",
        ${tableAlias}S_FOREMANSIGNNAMES as "${columnPrefix}foremansignnames",
        ${tableAlias}S_BATCHNO as "${columnPrefix}batchno",
        ${tableAlias}S_FILEPATH as "${columnPrefix}filepath",
        ${tableAlias}S_FILENAME as "${columnPrefix}filename",
        ${tableAlias}I_UPLOADSUCCESS as "${columnPrefix}uploadsuccess",
        ${tableAlias}S_REPAIRREMARK as "${columnPrefix}repairremark",
        ${tableAlias}S_REMARK as "${columnPrefix}remark",
        ${tableAlias}S_FILLOUTREMARK as "${columnPrefix}filloutremark",
        ${tableAlias}C_ITEMTYPE as "${columnPrefix}itemType",
        ${tableAlias}S_CHANGEREASON as "${columnPrefix}changereason",
        ${tableAlias}S_COMPONENTPOSITION as "${columnPrefix}componentposition",
        ${tableAlias}I_PARTCHANGESTATE as "${columnPrefix}partchangestate",
        ${tableAlias}I_CHECKLISTFLAG as "${columnPrefix}checklistflag",
        ${tableAlias}D_FOREMANSIGN as "${columnPrefix}foremansign",
        ${tableAlias}D_INSPECTORSIGN as "${columnPrefix}inspectorsign",
        ${tableAlias}S_PRINTBATCH as "${columnPrefix}printbatch",
        ${tableAlias}S_PRINTPERSON as "${columnPrefix}printperson",
        ${tableAlias}C_PRINTSUCCESS as "${columnPrefix}printsuccess",
        ${tableAlias}S_INTRAINNO as "${columnPrefix}intrainno",
        ${tableAlias}S_OUTTRAINNO as "${columnPrefix}outtrainno",
        ${tableAlias}S_DOCCODE as "${columnPrefix}docCode",
        ${tableAlias}S_DOCTYPE as "${columnPrefix}doctype",
        ${tableAlias}S_REPAIRCARD as "${columnPrefix}repaircard",
        ${tableAlias}S_QUALITYCODE as "${columnPrefix}qualitycode",
        ${tableAlias}S_QUALITYNAME as "${columnPrefix}qualityname",
        ${tableAlias}S_SYSNAME as "${columnPrefix}sysname",
        ${tableAlias}S_COMPONENTNAME as "${columnPrefix}componentname",
        ${tableAlias}D_LOCKTIME as "${columnPrefix}locktime"
    </sql>

</mapper>
