<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydzbinfo.emis.trainRepair.bill.fillback.dao.ImportRecordMapper">

    <!--通用查询映射结果-->
    <resultMap id="BaseResultMap" type="com.ydzbinfo.emis.trainRepair.bill.querymodel.checklist.ImportRecord">
        <id column="S_ID" property="id"/>
        <result column="S_DAYPLANID" property="dayPlanId"/>
        <result column="S_CHECKLISTSUMMARYID" property="checkListSummaryId"/>
        <result column="S_TRAINSETID" property="trainSetId"/>
        <result column="S_ITEMCODE" property="itemCode"/>
        <result column="S_ITEMNAME" property="itemName"/>
        <result column="S_TEMPLATETYPECODE" property="tempLateTypeCode"/>
        <result column="C_IMPORTSTATE" property="importState"/>
        <result column="S_STAFFCODE" property="staffCode"/>
        <result column="S_STAFFNAME" property="staffName"/>
        <result column="D_IMPORTTIME" property="importTime"/>
        <result column="S_REMARKS" property="remarks"/>
    </resultMap>

</mapper>